# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env.local
.env.production

# Debug logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# XAMPP specific
xampp_export/*.log