<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mysystem/
  
  RewriteRule ^api/ - [L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{DOCUMENT_ROOT}/mysystem/dist%{REQUEST_URI} -f
  RewriteRule ^(.*)$ dist/$1 [L]
  
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]
</IfModule>
